{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <br>
    <h1>Show Association</h1>
<div class="container">
    <div class="row">
        <div class="container-fluid pt-5">
            <div class="row px-xl-8">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ association.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ association.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ association.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ association.tel }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ association.code }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ association.local }}</td>
            </tr>
            <tr>
                <th>Objectif</th>
                <td>{{ association.objectif }}</td>
            </tr>
        </tbody>
    </table>
            </div></div></div></div>
{% endblock %}
