{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <h1>Association</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ association.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ association.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ association.email }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ association.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ association.tel }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ association.code }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ association.local }}</td>
            </tr>
            <tr>
                <th>Objectif</th>
                <td>{{ association.objectif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_association_index') }}">back to list</a>

    <a href="{{ path('app_association_edit', {'id': association.id}) }}">edit</a>

    {{ include('association/_delete_form.html.twig') }}
{% endblock %}
