{% extends 'base.html.twig' %}
    {% block title %}Volontaire index{% endblock %}

    {% block body %}
        <h1>Volontaire index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>CIN</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for v in volontaires %}
                <tr>
                    <td style="border: 2px red solid;">{{ v.id }}</td>
                    <td style="border: 2px red solid;">{{ v.cin }}</td>
                    <td style="border: 2px red solid;">{{ v.firstname }}</td>
                    <td style="border: 2px red solid;">{{ v.lastname }}</td>
                    <td style="border: 2px red solid;">{{ v.email }}</td>
                    <td>
                        <a href="{{ path('app_volontaire_index', {'id': v.id}) }}">show</a>
                        <a href="{{ path('volontaire_update', {'id': v.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('volontaire_register') }}">Create new</a>
    {% endblock %}




