{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<table style="width: 100%;border: 2px solid ;margin-top: 50px;">
    <tbody>
    <tr>
        <td style="border: 2px red solid;">Id</td>
        <td style="border: 2px red solid;">Cin</td>
        <td style="border: 2px red solid;">First Name</td>
        <td style="border: 2px red solid;">Last Name</td>
        <td style="border: 2px red solid;">Email</td>
    </tr>
    {% for v in listVolontaires %}
    <tr style="border: 2px green;">
        <td style="border: 2px red solid;">{{ v.id }}</td>
        <td style="border: 2px red solid;">{{ v.cin }}</td>
        <td style="border: 2px red solid;">{{ v.firstname }}</td>
        <td style="border: 2px red solid;">{{ v.lastname }}</td>
        <td style="border: 2px red solid;">{{ v.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
