{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Liste Volontaires</h1>
    <div class="container">
        <div class="row">
    <div class="container-fluid pt-5">
        <div class="row px-xl-8">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    <tr>
                        <th >Id</th>
                        <th >CIN</th>
                        <th >Firstname</th>
                        <th >Lastname</th>
                        <th >Email</th>
                        <th >Actions</th>

                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for v in listVolontaires %}
                        <tr>
                            <td class="align-middle">{{ v.id }}</td>
                            <td class="align-middle">{{ v.cin }}</td>
                            <td class="align-middle">{{ v.firstname }}</td>
                            <td class="align-middle">{{ v.lastname }}</td>
                            <td class="align-middle">{{ v.email }}</td>
                            <td class="align-middle">

                                <a href="{{ path('volontaire_update', {'id': v.id}) }}" >
                                    Edit
                                </a>
                                <a href="{{ path('volontaire_remove', {'id': v.id}) }}" >
                                    Delete
                                </a>
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">
                                <h6 class="font-weight-medium">No volontaires</h6>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
        </div>
    </div>

{% endblock %}
